html {
	padding: 3px;
}

.serverListEntry, .serverListEntryInactive {
	padding: 4px;
	border-radius: 5px;
	margin: 4px;
}

.serverListEntry {
	width: 105px;
	display: inline-block;
	height: 105px;
	vertical-align: middle;
	cursor: pointer;
}

.serverListEntry:hover {
	background-color: white !important;
}

.serverListEntry img {
	width: 64px;
	height: 64px;
}

.serverListEntry a {
	color: #000000;
	text-decoration: none;
}

.entryParent {
	border-radius: 3px;
	border: 1px solid #888;
	display: inline-block;
}

.entryTitle {
	background-color: #fff;
	border-radius: 5px;
	padding: 4px;
	font-weight: bold !important;
}

#serverListDialogText {
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 120%;
}

.container {
	width: 640px;
	margin: 0 auto;
}