<p style="display:none;" id="changePumaServerOption">
	<hr style="background:none; border:none; padding:0px; margin:0px;border-top:1px solid #888;"/>
	<span>
		<label>
			<p style=" padding:4px;"><b><localestring>changePumaServer</localestring></b></p>
			<select style="width:100%;max-width:90%;" id="changePumaServerDropdown"></select>
		</label>
	</span>
</p>